# section information
section:
  name: Education
  id: education
  template: sections/education.html # Use "sections/education-alt.html for alternate template.
  enable: true
  weight: 4
  showOnNavbar: true
  # Can optionally hide the title in sections
  # hideTitle: true

degrees:
{{range $educationItem := .Education}}
- name: "{{$educationItem.StudyType}} in {{$educationItem.Area}}"
  icon: "{{if eq $educationItem.Area "Mathematics"}} fa-calculator {{else if eq $educationItem.Area "Biological Sciences"}} fa-brain {{end}}" 
  timeframe: "{{$educationItem.StartDate}} - {{$educationItem.EndDate}}"
  institution:
    name: {{$educationItem.Institution}}
    url: {{$educationItem.Url}}
{{end}}

